<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Normal Checkerboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='normal_board.css') }}">
</head>
<body>
    <div>
        {% for x in range(0,4) %}
            <div class="black square"></div>
            <div class="red square"></div>
        {% endfor %}
    </div>
</body>
</html>
